<div class="container">
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;" (click)="clickHere()">
    <div class="card-header" >Application Form</div>
    <div class="card-body">
      <h5 class="card-title">Click on the card!</h5>
      <p class="card-text">To fill application form.</p>
    </div>
  </div>

  <div class="card text-white bg-info mb-3" style="max-width: 18rem;" (click)="clickHere()">
    <div class="card-header" >View Application Form</div>
    <div class="card-body">
      <h5 class="card-title">Click on the card!</h5>
      <p class="card-text">Check All application form.</p>
    </div>
  </div>
</div>